.container{
    width: 100vw;
}

.container-fluid{
    margin-bottom: 3%;
}

.top{
    width:100vw;
    height:15vh;
}
.nav-li{
    position:relative;
    left:30vw;
}
@media (max-width:400px){
    .nav-li{
        flex-direction: column;
        width: 100%; 
        text-align: center; 
    }
    .nav-link, input[type="search"] {
        width: 100%; 
        text-align: center; 
    }
}

.table-responsive{
    text-align: center;
    
}

#my_a1{
    width: 93vw;
    float: right;
    text-align: right;
    
}
.nav-link{
    color:#fff;
}
